local wezterm = require "wezterm"
local act = wezterm.action
local config = wezterm.config_builder()
local theme = require "theme"
local font = require "font"
local launchers = require "launchers"
local keys = require "keys"
local tabs = require "tabs"
local status = require "status"
local appearance = require "appearance"

-- Launchers
launchers.setup(config)

-- Keybindings
keys.setup(config)

-- Set color schema
config.color_scheme = theme.scheme_name

config.color_schemes = {
  [theme.scheme_name] = theme.scheme,
}

-- Font configuration
font.setup(config)

-- Tabs configuration
tabs.setup(config, theme.colors)

-- Status configuration
config.status_update_interval = 2000
status.setup(theme.colors)

-- Appearance configuration
appearance.setup_wallpaper(config, theme.colors)

--[[
============================
Others
============================
]] --

config.enable_scroll_bar = false
config.warn_about_missing_glyphs = false

{{- if and .ssh_host .ssh_username .ssh_identity }}
-- SSH
config.ssh_domains = {
  {
    name = 'jon',
    remote_address = {{ .ssh_host | quote }},
    username = {{ .ssh_username | quote }},
    ssh_option = {
      identityfile = wezterm.home_dir .. '/.ssh/{{ .ssh_identity }}',
    }
  },
}
{{ end -}}

-- Performance settings
config.max_fps = 120
config.animation_fps = 120
config.prefer_egl = true

return config