encryption = "age"

[age]
    identity = "~/.config/sops/age/keys.txt"
    recipient = "age1vepecca5hyhdn3v6muxqcedyr5y4c20ct8adw8gj06kzy4fu5gqs8hekev"

[data]
    email = "bubles_2009@hotmail.com"
    ssh_host = ""
    ssh_username = ""
    ssh_identity = ""
