{{- /* Load env.toml from OneDrive if it exists */ -}}
{{- $envFile := "C:/Users/buble/OneDrive/Formateo/env.toml" -}}
{{- $email := "bubles_2009@hotmail.com" -}}
{{- if stat $envFile -}}
{{-   range $key, $value := fromToml (include $envFile) -}}
{{-     if eq $key "git" -}}
{{-       with $value.email -}}
{{-         $email = . -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
[data]
    email = {{ $email | quote }}
