{{- $secrets := dict -}}
{{- $secretsPath := joinPath .chezmoi.sourceDir "secrets/dotfiles.sops.yaml" -}}
{{- if stat $secretsPath -}}
{{-   $secrets = secretJSON "sops" "--decrypt" "--output-type" "json" $secretsPath -}}
{{- end -}}
{{- $git := index $secrets "git" | default dict -}}
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Sovengar
	email = {{ index $git "email" | default .email }}
[init]
	defaultBranch = main
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
{{ if eq .chezmoi.hostname "NTTD-1H8613110L" -}}
[credential "https://umane.emeal.nttdata.com"]
	provider = generic
[credential "https://umane.everis.com"]
	provider = generic
[credential "https://git.intranet.gencat.cat"]
	provider = generic
{{ end -}}
