[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Sovengar
	email = {{ .email }}
[core]
	editor = code --wait
{{ if eq .chezmoi.hostname "NTTD-1H8613110L" -}}
[credential "https://umane.emeal.nttdata.com"]
	provider = generic
[credential "https://umane.everis.com"]
	provider = generic
[credential "https://git.intranet.gencat.cat"]
	provider = generic
{{ end -}}
