{{- $secretsPath := joinPath .chezmoi.sourceDir "secrets/dotfiles.sops.yaml" -}}
{{- if stat $secretsPath -}}
{{-   $secrets := secretJSON "sops" "--decrypt" "--output-type" "json" $secretsPath -}}
{{-   $opencode := index $secrets "opencode" | default dict -}}
{{-   index $opencode "config" | default "{}" -}}
{{- else -}}
{}
{{- end -}}
