# winapps-vm configuration
# Edit this file to change VM resources.
# Run 'winapps-vm remove && winapps-vm install' to recreate the VM with new values.
#
# Defaults are used when this file doesn't exist or values are empty.

WINAPPS_VM_RAM=16G
WINAPPS_VM_CPU_CORES=8
WINAPPS_VM_DISK_SIZE=64G
WINAPPS_VM_VERSION=11
WINAPPS_VM_USERNAME=docker
WINAPPS_VM_PASSWORD=
TZ=UTC